<!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>List of Commands</title>
  <style>

			body, html {
			  height: 100%;
			  margin: 0;
			  display: flex;
			  justify-content: center;
			  align-items: center;
              background-color: #00284D;
              overflow-y: hidden;
			}
			ul {

			  width: 40%;
              height: 100vh;
              min-width: 200px;
              overflow-y: auto;
			  padding: 20px; 
			  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              overflow-y: auto;
			}

            li{
            display: flex;
            list-style-type: none;
            justify-content: center;
            align-items: center;
            }

            p {
            max-width: 100%;
            line-height: 25px;
            margin-top: 10px;
            word-wrap: break-word;
            hyphens: auto;
            background-color: white;
            padding: 10px;
            list-style-type: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            .container{

            position: absolute;
            left: 70px;
            background-color: grey;
            }

		  </style>
 </head>
 <body>
  <div class='container' >
  <button id = "createButton">Перейти к созданию команды</button>
  <button id="allCommandsList">Все команды</button>
  </div>
  <ul style="background-color: grey;">
   <li><p><mark>ID</mark>: {{ .Id }},<br>
   Script: {{ .Script }},<br>
   ScriptResult: {{.ScriptResult}}</p></li>
   <li><button id="stopbutton">Остановить команду</button></li>
  </ul>
 </body>
 <script>

        var stopButton = document.getElementById('stopbutton');
        // Добавляем обработчик события клика на кнопку
        document.getElementById('createButton').addEventListener('click', function() {
            // Переходим на указанный URL
            window.location.href = '/Command/Create/';
        });
        document.getElementById('allCommandsList').addEventListener('click', function() {
            // Переходим на указанный URL
            window.location.href = '/Command/All';
        });

        // Получаем текущий URL
        var url = window.location.href;
        console.log(url);

        
        var id = url.slice(30);
        console.log(id); // Выводим ID для проверки


// Добавляем обработчик события клика на кнопку stopbutton
        stopbutton.addEventListener('click', function() {
            // Сохраняем ID перед отправкой запроса
            var savedId = id;

            // Отправляем запрос на сервер
            fetch('/Command/Stop', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                // Тело запроса теперь содержит ID
                body: JSON.stringify({ id: savedId }),
            })
           
        });
    </script>
 </html>